# Database
DATABASE_URL=postgresql://postgres:4liberty@localhost/evoting_db

# Security (JWT)
SECRET_KEY=your-jwt-secret-key-here-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Vote Encryption Keys (Generated: 226a17a8c2d007da)
VOTE_ENCRYPTION_KEY=AltPelPtLw2IUtxgoQ9GYtjb9A5Vw0S3ErKxoUMiwhE=
ANONYMIZATION_SALT=801609d185514912235e6c75626839fb86e698b009594fda33b01319c6f1e4ec
COMMITMENT_SECRET=e5cddc62e09e8f2ba94efcf47189bdef5dc544e9322b6135bd2c553313312fcc

# CORS
ALLOWED_ORIGINS=["http://localhost:3000", "http://localhost:5173"]

# Application
DEBUG=True
ALLOWED_ORIGINS=http://localhost:3000
PORT=8000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME="successokweku@gmail.com"
SMTP_PASSWORD="xcecwzzoicwzcrrv"

# Email Sender Info
FROM_EMAIL=noreply@securevoting.com
FROM_NAME=Secure Voting System