# Database
DATABASE_URL=postgresql://user:password@localhost/evoting_db

# Security (JWT)
SECRET_KEY=your-jwt-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Vote Encryption Keys (Generated: b3c1939b862d547e)
VOTE_ENCRYPTION_KEY=Zn42A1bmBtQGtSK25PlHbF4npTiNv95dkDo8DiiPv04=
ANONYMIZATION_SALT=3de73f01f2f61375b58af416224ba3bd1d231dcfecd6eb5a7c592c7082749971
COMMITMENT_SECRET=a6e265231d02939dd772d4f7cd0ea6923b49a5a04877566d4291b8248e8f00bf

# CORS
ALLOWED_ORIGINS=["http://localhost:3000", "http://localhost:5173"]
DEBUG=True
